{% if pingResults %}

	<!-- show table -->
	<table class="small {{ config.tableClass }}">
		{% for host in pingResults %}
			<tr class="hostRow bright">
				<td class="">
					{{ host.name if host.name else host.ip }}
				</td>
				{% if host.isAlive %}
					<td class="{{config.upClass}}">
						<span {% if config.upSymbol %}class="fas fa-{{config.upSymbol}}"{% endif %} {% if config.upColor %}style="color: {{config.upColor}};"{% endif %}></span>
					</td>
					<td class="{{config.upClass}}" style="text-align: right;">
						{{ config.upText }}
					</td>
				{% else %}
					<td class="{{config.downClass}}"}>
						<span {% if config.downSymbol %}class="fas fa-{{config.downSymbol}}"{% endif %} {% if config.downColor %}style="color: {{config.downColor}};"{% endif %}></span>
					</td>
					<td class="{{config.downClass}}" style="text-align: right;">
						{{ config.downText }}
					</td>
				{% endif %}
			</tr>
		{% endfor %}
	</table>

{% else %}

	<!-- show error/loading message -->
	<div class="dimmed xsmall">Awaiting pings...</div>
	
{% endif %}